.carta-apresentacao{
    padding: 2% 5%;
    width: 50%;
}

.titulo-doc{
    color: rgb(247, 138, 192);
    text-align: center;
    margin-bottom: 10px;
}

.folha{
    padding: 3%;

    background-color: whitesmoke;
    color: #ad004e;

    text-align: justify;
    
    border-radius: 5px;

    -webkit-box-shadow: 10px 10px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 6px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 6px 0px rgba(0,0,0,0.75);
}

.folha p{
    margin-bottom: 10px;
}

button{
    background-color: red;
    width: 50px;
    height: 20px;
}