.clear{
    clear: both;
}

.formulario{
    padding: 2% 5%;
    width: 50%;
 
}

.form-content{
    width: 100%;
    margin-top: 30px;
    background-color: rgb(50, 50, 60);
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 6px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 6px 0px rgba(0,0,0,0.75);
}
.form-wrapper{
    padding: 0 8px;
    font-size: 1.1rem;
    float: left; 
    color: rgb(233, 87, 160);
}

.title{
    margin-bottom: 15px;
    margin-top: 5px;
    text-align: center;
    color: rgb(247, 138, 192);
}

.w50{
    width: 50%;
}

.w100{
    width: 100%;
}

.form-wrapper input[type=text]{
    width: 100%;
    border: none;
    margin-bottom: 5px;
    margin-top: 2px;
    padding: 10px;
    border-radius: 5px;   
    outline-style: none;
    background-color: #181820;
    color: white;
    font-weight: bold;
    font-size: 14px;
}
.form-wrapper input[type=text]:focus{
    border: 2px solid rgb(247, 138, 192);
}

.form-wrapper textarea{
    width: 100%;
    resize: none;
    height: 70px;
    border-radius: 5px;
    border: none;
    outline-style: none;
    padding: 8px;
    background-color: #181820;
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.form-wrapper textarea:focus{
    border: 2px solid rgb(247, 138, 192);
}


.form-wrapper input[type=submit]{
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0;
    background-color: rgba(233, 87, 160, 0.4);
    cursor: pointer;
    transition: 0.5s;
    color: white;
    font-size: 16px;
    font-weight: bold;
    outline-style: none;
}

.form-wrapper input[type=submit]:hover{
    background-color: rgb(233, 87, 160);
}